<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>License Activation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-container">
    <div class="logo-section">
      <img src="assets/images/zpos-logo.png" alt="ZPOS Logo" class="logo" />
    </div>

    <ion-card class="login-card">
      <ion-card-header>
        <ion-card-title>Activate Your License</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-text color="medium" class="ion-margin-bottom">
          <p>Enter your business account credentials to activate this device</p>
        </ion-text>

        <form (ngSubmit)="onLogin()">
          <ion-item>
            <ion-label position="floating">Business Email</ion-label>
            <ion-input
              type="email"
              [(ngModel)]="email"
              name="email"
              required
              autocomplete="email"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input
              type="password"
              [(ngModel)]="password"
              name="password"
              required
              autocomplete="current-password"
            ></ion-input>
          </ion-item>

          <ion-button
            expand="block"
            type="submit"
            color="primary"
            class="ion-margin-top"
            [disabled]="!email || !password"
          >
            Activate License
          </ion-button>
        </form>

        <div class="help-text ion-margin-top">
          <ion-text color="medium">
            <small>This is a one-time setup. After activation, users will login with their PINs.</small>
          </ion-text>
        </div>

        <div class="register-link ion-margin-top ion-text-center">
          <ion-text color="medium">
            <p>Don't have a license key?</p>
          </ion-text>
          <ion-button fill="outline" color="primary" routerLink="/register" expand="block">
            Register Your Business
          </ion-button>
        </div>

        <div class="forgot-password ion-margin-top">
          <ion-text color="medium">
            <small>Need help? Contact support&#64;zpos.co.zm</small>
          </ion-text>
        </div>
      </ion-card-content>
    </ion-card>

    <div class="version-info">
      <ion-text color="medium">
        <small>Version 2.0.0 • Powered by ZPOS</small>
      </ion-text>
    </div>
  </div>
</ion-content>
